@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #15153e;
  --primary: #09091b;
  --primary-brighter: #0d0d25;
  --primary-darker: #080817;
  --text: #8787fb;
}

body {
  background-color: var(--background);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #0d0d1f;
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #2b2b79;
  border-radius: 20px;
  border: var(--primary) 2px solid;
}
