@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue1: #1a1a30;
  /* --blue2: #0f0f2b; */
  --blue3: #23213d;
  --blue4: #282849;
  --blue5: #4b4a8a;

  --white1: rgb(197, 191, 234);

  --primary: #09091b;
  --primary-brighter: #0e0e2b;
  --primary-darker: #080817;
  --text: #8787fb;
}

body {
  background-color: var(--blue1);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #0d0d1f;
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #3c3a69;
  /* border-radius: 20px; */
  border: var(--primary) 2px solid;
}
