@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue1: #141435;
  /* --blue2: #0f0f2b; */
  --blue3: #202054;
  --blue4: #2c2c70;
  --blue5: #413f9e;
  --blue6: #4a47ac;

  --white1: rgb(197, 191, 234);

  --primary: #09091b;
  --primary-brighter: #0e0e2b;
  --primary-darker: #080817;
  --text: #8787fb;
}

html {
  margin-left: calc(100vw - 100%);
}

body {
  background-color: var(--blue1);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #0d0d1f;
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #333076;
  /* border-radius: 20px; */
  border: var(--primary) 2px solid;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue6);
}
